﻿@model eCommerceEcpMaintenance.Models.ECommerceEcpViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Create e-Commerce ECP</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Ecp" class="control-label"></label>
                    <input asp-for="Ecp" class="form-control" />
                    <span asp-validation-for="Ecp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CountryCode" class="control-label"></label>
                    <input asp-for="CountryCode" class="form-control" />
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransitionsId" class="control-label"></label>
                    <input asp-for="TransitionsId" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsOnlineOnly" /> @Html.DisplayNameFor(model => model.IsOnlineOnly)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsOnlineAndInStore" /> @Html.DisplayNameFor(model => model.IsOnlineAndInStore)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WebsiteUrl" class="control-label"></label>
                    <input asp-for="WebsiteUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Platform" class="control-label"></label>
                    <input asp-for="Platform" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CountriesAvailable" class="control-label"></label>
                    <input asp-for="CountriesAvailable" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
