﻿@model eCommerceEcpMaintenance.Models.ECommerceEcpViewModel


@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ECP</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ecp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ecp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>