﻿@model IEnumerable<eCommerceEcpMaintenance.Models.ECommerceEcpViewModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ECommerceEcpView</title>
</head>
<body>
    <form asp-controller="ECommerceEcp" asp-action="SearchByCountry">
        <p>
            
        </p>
        <p>
            Country Code: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Ecp)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.CountryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.TransitionsId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.IsOnlineOnly)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.IsOnlineAndInStore)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.WebsiteUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Platform)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.CountriesAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ImagePath)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Ecp)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TransitionsId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.IsOnlineOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.IsOnlineAndInStore)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.WebsiteUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Platform)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CountriesAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ImagePath)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
